<!DOCTYPE html>
<html>
  <head>
    <title>K8s Photo Album App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/lightbox.min.css') }}">
  </head>
  
  <body>
    <div class="content">    
        <h2> {{ msg }}</h2>
    
        <div>
          <h3>Upload your file here:</h3>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>
    
    <section>
        <div>
          <ul>
            {% for item in contents %}
                <a class="example-image-link" href="{{ item.url }}" data-lightbox="example-1"> 
                <img class="example-image"  src="http://api.rethumb.com/v1/square/200/{{ item.url }}" /> </a>            
              {% endfor %}
          </ul>
    </section>

    </div>
    <script src="{{ url_for('static', filename='dist/js/lightbox-plus-jquery.min.js') }}"></script>  
  </body>
</html> 
 